In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from time import sleep

In [2]:
browser = webdriver.Chrome()
url = 'https://scraping-for-beginner.herokuapp.com/login_page'
browser.get(url)
sleep(3)

elem_username = browser.find_element(By.ID, 'username')
elem_username.send_keys('imanishi')

elem_password = browser.find_element(By.ID, 'password')
elem_password.send_keys('kohei')

sleep(1)
elem_login_btn = browser.find_element(By.ID, 'login-btn')
elem_login_btn.click()

In [3]:
elem = browser.find_element(By.ID, 'name')
name = elem.text

In [10]:
type(name)

str

In [11]:
elem = browser.find_element(By.ID, 'company')
elem.text

'株式会社キカガク'

In [12]:
elem = browser.find_element(By.ID, 'birthday')
elem.text

'1994年7月15日'

In [13]:
elem = browser.find_element(By.ID, 'come_from')
elem.text

'千葉県'

In [14]:
elem = browser.find_element(By.ID, 'hobby')
elem.text

'バスケットボール\n読書\nガジェット集め'

In [15]:
hobby = elem.text
hobby

'バスケットボール\n読書\nガジェット集め'

In [16]:
hobby.replace('\n', ',')

'バスケットボール,読書,ガジェット集め'

In [18]:
elem_th = browser.find_element(By.TAG_NAME, 'th')

In [19]:
elem_th.text

'講師名'

In [21]:
elems_th = browser.find_elements(By.TAG_NAME, 'th')

In [22]:
elems_th

[<selenium.webdriver.remote.webelement.WebElement (session="3c48318ef7ac780b13121ebe364c1e16", element="368959F35199D4E3FB2DFF70F71D5102_element_22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c48318ef7ac780b13121ebe364c1e16", element="368959F35199D4E3FB2DFF70F71D5102_element_26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c48318ef7ac780b13121ebe364c1e16", element="368959F35199D4E3FB2DFF70F71D5102_element_31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c48318ef7ac780b13121ebe364c1e16", element="368959F35199D4E3FB2DFF70F71D5102_element_35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3c48318ef7ac780b13121ebe364c1e16", element="368959F35199D4E3FB2DFF70F71D5102_element_40")>]

In [25]:
elems_th[3].text

'出身'

In [26]:
len(elem_th)

5

In [34]:
keys = []

for elem_th in elems_th:
    key = elem_th.text
    keys.append(key)

In [35]:
keys

['講師名', '所属企業', '生年月日', '出身', '趣味']

In [39]:
elems_td = browser.find_elements(By.TAG_NAME, 'td')

values = []

for elem_td in elems_td:
    value = elem_td.text
    values.append(value)

In [40]:
values

['今西 航平', '株式会社キカガク', '1994年7月15日', '千葉県', 'バスケットボール\n読書\nガジェット集め']

In [41]:
import pandas as pd

In [42]:
df = pd.DataFrame()

In [43]:
df['項目'] = keys
df['値'] = values

In [44]:
df

     項目                      値
0   講師名                  今西 航平
1  所属企業               株式会社キカガク
2  生年月日             1994年7月15日
3    出身                    千葉県
4    趣味  バスケットボール\n読書\nガジェット集め

In [45]:
df.to_csv('講師情報.csv', index=False)